@font-face {
  font-family: "Inter Regular";
  src: url("./assets/fonts/static/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Inte SemiBold";
  src: url("./assets/fonts/static/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter Bold";
  src: url("./assets/fonts/static/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --line-height: 150%;
  --letter-spacing: 0px;
  --spacing-500: 40px;
  --spacing-300: 24px;
  --spacing-200: 16px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --spacing-50: 4px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter Regular";
  height: 100vh;
  background: var(--grey-900);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--grey-800);
  width: 100%;
  max-width: 384px;
  height: 100%;
  max-height: 611px;
  border-radius: 20px;
  text-align: center;
  padding-left: var(--spacing-500);
  padding-right: var(--spacing-500);
}

.text-preset-1 {
  font-family: "Inter Bold";
  font-size: 24px;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

.text-preset-2 {
  font-family: "Inter Regular";
  font-size: 14px;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

.text-preset-2.bold {
  font-family: "Inter Bold";
}

.picture img {
  border-radius: 50%;
  width: 30%;
}

.text-white {
  color: var(--white);
}

.text-green {
  color: var(--green);
}

.mb-spacing-500 {
  margin-bottom: var(--spacing-500);
}

.mb-spacing-300 {
  margin-bottom: var(--spacing-300);
}

.mb-spacing-200 {
  margin-bottom: var(--spacing-200);
}

.mb-spacing-150 {
  margin-bottom: var(--spacing-150);
}

.mb-spacing-100 {
  margin-bottom: var(--spacing-100);
}

.mb-spacing-50 {
  margin-bottom: var(--spacing-50);
}

.mt-spacing-500 {
  margin-top: var(--spacing-500);
}

.mt-spacing-300 {
  margin-top: var(--spacing-300);
}

.mt-spacing-200 {
  margin-top: var(--spacing-200);
}

.mt-spacing-150 {
  margin-top: var(--spacing-150);
}

.mt-spacing-100 {
  margin-top: var(--spacing-100);
}

.mt-spacing-50 {
  margin-top: var(--spacing-50);
}

.pb-spacing-500 {
  padding-bottom: var(--spacing-500);
}

.pb-spacing-300 {
  padding-bottom: var(--spacing-300);
}

.pb-spacing-200 {
  padding-bottom: var(--spacing-200);
}

.pb-spacing-150 {
  padding-bottom: var(--spacing-150);
}

.pb-spacing-100 {
  padding-bottom: var(--spacing-100);
}

.pb-spacing-50 {
  padding-bottom: var(--spacing-50);
}

.pt-spacing-500 {
  padding-top: var(--spacing-500);
}

.pt-spacing-300 {
  padding-top: var(--spacing-300);
}

.pt-spacing-200 {
  padding-top: var(--spacing-200);
}

.pt-spacing-150 {
  padding-top: var(--spacing-150);
}

.pt-spacing-100 {
  padding-top: var(--spacing-100);
}

.pt-spacing-50 {
  padding-top: var(--spacing-50);
}

.ml-spacing-500 {
  margin-left: var(--spacing-500);
}

.mr-spacing-500 {
  margin-right: var(--spacing-500);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-link {
  padding-top: var(--spacing-150);
  padding-bottom: var(--spacing-150);
  border-radius: 12px;
  display: block;
  color: var(--white);
  background: var(--grey-700);
  text-decoration: none;
  transition: background 0.5s ease, color 0.5s ease;
}

.social-link:hover {
  background: var(--green);
  color: var(--grey-900);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media only screen and (max-width: 375px) {
  .container {
    max-width: 327px;
  }
}

@media only screen and (max-height: 812px) {
  .container {
    max-height: 579px;
  }
}
